@import "tailwindcss";

@theme {
    --breakpoint-xxs: 360px;
    --breakpoint-xs: 420px;
}

@layer utilities {
    .text-shadow {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

}

html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
}

ul,
li,
time {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0f1624;
    background-image:
        radial-gradient(at 19% 31%, hsla(219, 42%, 10%, 1) 0px, transparent 50%),
        radial-gradient(at 100% 0%, #41b48021 0px, transparent 50%),
        radial-gradient(at 0% 0%, #db003366 0px, transparent 50%);
    background-size: cover;
    background-attachment: fixed;
}

section {
    /* padding-top: 50px; */
    scroll-margin-top: 60px;
    margin-bottom: 100px;
}

h1,
h2,
h3 {
    font-family: "Lato", sans-serif;
}

.section-title {
    @apply text-[#faebd7] text-2xl min-[360px]:text-3xl xl:text-5xl lg:ml-5 w-full text-center lg:text-left my-6 pb-0.5 tracking-wider;
}

h3 {
    @apply text-[#faebd7] w-full text-center mb-12 pb-0.5 tracking-wider;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-image: linear-gradient(120deg, #FAEBD7, #FAEBD7, #162A30);
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(160deg, #0F1624, #152A2F);
    border-radius: 50px;
    max-height: 50px;
}

/* .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
} */