@import "tailwindcss";

@layer utilities {
    .text-shadow {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

}

html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: hsla(219, 42%, 10%, 1);
    background-image:
        radial-gradient(at 19% 31%, hsla(219, 42%, 10%, 1) 0px, transparent 50%),
        radial-gradient(at 100% 0%, hsla(153, 47%, 48%, 0.13) 0px, transparent 50%),
        radial-gradient(at 0% 0%, hsla(346, 100%, 43%, 0.4) 0px, transparent 50%);
    background-size: cover;
    background-attachment: fixed;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-image: linear-gradient(120deg, #FAEBD7, #FAEBD7, #162A30);
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(160deg, #0F1624, #152A2F);
    border-radius: 50px;
    max-height: 50px;
}

/* .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
} */