---
import SkillCard from './../part/SkillCard.astro'
type Skill = {
    title: string;
    logo: string;
}
const frontendSkills: Skill[] = [
{title: 'HTML', logo:"/svg/html-icon.svg"},
{title: 'CSS', logo:"/svg/css-icon.svg"},
{title: 'SASS', logo:"/svg/sass-icon.svg"},
{title: 'Tailwind', logo:"/svg/tailwindcss-icon.svg"},
{title: 'Javascript', logo:"/svg/javascript-icon.svg"},
{title: 'Typescript', logo:"/svg/typescript-icon.svg"},
{title: 'ViteJS', logo:"/svg/vitejs-icon.svg"},
{title: 'React', logo:"/svg/react-icon.svg"},
{title: 'VueJS', logo:"/svg/vuejs-icon.svg"},
];

const backendSkills: Skill[]=[
{title: 'NodeJS', logo:"/svg/nodejs-icon.svg"},
{title: 'PHP', logo:"/svg/php-icon.svg"},
{title: 'ExpressJS', logo:"/svg/expressjs-icon.svg"},
{title: 'Laravel', logo:"/svg/laravel-icon.svg"},
{title: 'postgreSQL', logo:"/svg/postgresql-icon.svg"},
{title: 'Sequelize', logo:"/svg/sequelize-icon.svg"},
{title: 'Docker', logo:"/svg/docker-icon.svg"},
];

const learningSkills: Skill[]=[
{title: 'Angular', logo:"/svg/angular-icon.svg"},
{title: 'Java', logo:"/svg/java-icon.svg"},
];

---

<style>

</style>

<section id="skills" class="" aria-labelledby="skill-title">
    <h2 id="skill-title" class="section-title">Mes compétences</h2>
    <h3 class="text-xl md:text-[2vw] ">Front end</h3>
    <ul class="flex-skill">
        {frontendSkills.map((skill: Skill) => (
                <li class="card-container">
                        <SkillCard skill={skill}></SkillCard>
        </li>
              ))}
    </ul>
</div>
<h3 class="text-[#faebd7] text-xl md:text-[2vw] w-full text-center my-12 pb-0.5 tracking-wider ">Back end</h3>
<div >
    <ul class="flex-skill">
        {backendSkills.map((skill: Skill) => (
                <li class="card-container">
                        <SkillCard skill={skill}></SkillCard>
                 </li>
              ))}
    </ul>
</div>

<h3 class="text-[#faebd7] text-xl md:text-[2vw] w-full text-center my-12 pb-0.5 tracking-wider ">En cours d'apprentissage</h3>
<div >
    <ul class="flex-skill">
        {learningSkills.map((skill: Skill) => (
        <li class="card-container">
                <SkillCard skill={skill}></SkillCard>
        </li>
              ))}
    </ul>
</div>
</section>
