---
const { id } = Astro.props;
---

<div id={id} class="modal-overlay hidden">
  <div class="modal-content flex flex-col items-center">
    <slot ></slot>
    <button id="modal-close-btn" class="close-btn">Fermer</button>
  </div>
</div>

<script>
  const overlay = document.querySelector('.modal-overlay') as HTMLElement;
  overlay.addEventListener('click',()=>{
    if(overlay){
      overlay.classList.remove('show');
    }
  })
</script>

<style>
  .modal-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    
    /* transform: translate(-50% ,-50%); */
    /* background-color: rgba(0, 0, 0, 0.5); */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s;
    height: 100%;
    width: 100%;
    /* overflow-y: auto; */
  }

  .modal-overlay.show {
    opacity: 1;
    visibility: visible;
  }

  .modal-content {
    background-size: contain;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    height: 100%;
    width: 100%;
    
  }



  .close-btn {
    width: 100px;
    margin: auto;
    /* transform: translateX(-50%); */
    border: 1px solid #faebd7;
    border-radius: 10px;
    background: #252525;

    padding: 14px 18px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3px;
    color: #faebd7;
    text-decoration: none;
    transition: all .2s ease;
    cursor: pointer;
 
  }

  .close-btn:hover{
    background: #faebd7;
    color: #000;
  }

  @media (width <= 1000px) {
    .modal-overlay {
      /* width: 100vw;
      height: 100vh; */
    }
    
  }
  .flickity-prev-next-button{
    display: none;
  }
</style>