---
const { id } = Astro.props;
---

<div id={id} class="modal-overlay hidden">
  <div class="modal-content">
    <button class="close-btn">X</button>
    <slot></slot>
  </div>
</div>

<style>
  .modal-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
    height: 70vh;
    width: 70vw;
    transform: translate(-50% ,-50%);
    /* background-color: rgba(0, 0, 0, 0.5); */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s;
  }

  .modal-overlay.show {
    opacity: 1;
    visibility: visible;
  }

  .modal-content {
    background-size: contain;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    
  }



  .close-btn {
    position: absolute;
    color: #faebd7;
    top: 10px;
    right: 0;
    background: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
  }
</style>