---
const sections = [
    {id:'landing', label: 'Accueil', class:'homeLink'},
    {id:'skills', label: 'Compétences', class:'menuLink'},
    {id:'projects', label: 'Projets', class:'menuLink'},
    {id:'about', label: 'Parcours', class:'menuLink'},
    {id:'contact', label: 'Contact', class:'menuLink'},


    ]
---
<nav id="header" class="text-[#faebd7] fixed font-bold p-5 z-10 w-full px-5 mx-auto flex justify-between items-center gap-20">
    <a class="homeLink" href="#landing" data-section="landing">Accueil</a>
    <div class="flex justify-end items-center gap-20">
        {sections.map(section=> section.id !== 'landing' && (
                    <a class="menuLink" href={`#${section.id}`} data-section={section.id}>{section.label}</a>

        ))}
    </div>
</nav>

<script>
if(typeof window !== "undefined"){
    
    document.addEventListener('DOMContentLoaded', ()=>{ 
        const headerElm = document.getElementById('header');
        if(headerElm){
            
            window.addEventListener('scroll', ()=>{
                if(window.scrollY>0){
                    headerElm?.classList.add('header-border')
                    
                }else{
                    headerElm?.classList.remove('header-border')
                }
            })
        }
    })
    }
</script>

<style>
    #header {
  transition: background-color 0.3s ease;
}

.header-border {
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

}

.menuLink, .homeLink{
    opacity: 75%;
    transition: all ease-in-out 0.3s;
}


.menuLink:hover{
    opacity: 100%;
    color: #41B883;
    animation: pulse 1s ease-in-out infinite;
}

.homeLink:hover{
    opacity: 100%;
    color: #C3002F;
    animation: pulse 1s ease-in-out infinite;

}

.active-link{
    text-decoration: underline;
    animation: pulse 1s ease-in-out infinite;
	}

@keyframes pulse {
    50%{
        opacity: 50%;
    }
    
}
</style>