<nav id="header" class="text-[#faebd7] fixed font-bold p-5 z-10 w-full px-5 mx-auto flex justify-between items-center gap-20">
    <a class="homeLink" href="#landing">Accueil</a>
    <div class="flex justify-end items-center gap-20">
        <a class="menuLink" href="#skills">Compétences</a>
        <a class="menuLink" href="#projects">Projets</a>
        <a class="menuLink" href="#about">Parcours</a>
        <a class="menuLink" href="#contact">Contact</a>
    </div>
</nav>

<script>
if(typeof window !== "undefined"){
    
    document.addEventListener('DOMContentLoaded', ()=>{ 
        const headerElm = document.getElementById('header');
        if(headerElm){
            
            window.addEventListener('scroll', ()=>{
                if(window.scrollY>0){
                    headerElm?.classList.add('header-border')
                    
                }else{
                    headerElm?.classList.remove('header-border')
                }
            })
        }
    })
    }
</script>

<style>
    #header {
  transition: background-color 0.3s ease;
}

.header-border {
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

}

/* 
.header-border::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  opacity: 30%;
  box-shadow: ;
  background: linear-gradient(90deg, #c2002d 0%, #dd0031 2%, #101828 41%, #101828 80%, #41b883 100%);
}

.header-border::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 100%;
  height: 15px;
  background: linear-gradient(90deg, #c2002d 0%, #dd0031 2%, #101828 41%, #101828 80%, #41b883 100%);
  filter: blur(5px);
} */

.menuLink, .homeLink{
    opacity: 75%;
    transition: all ease-in-out 0.3s;
}


.menuLink:hover{
    opacity: 100%;
    color: #41B883;
    animation: pulse 1s ease-in-out infinite;
}

.homeLink:hover{
    opacity: 100%;
    color: #C3002F;
    animation: pulse 1s ease-in-out infinite;

}

@keyframes pulse {
    50%{
        opacity: 50%;
    }
    
}
</style>