---
import { Image } from "astro:assets";
import lkd2 from "../assets/lkd2.webp"
const title="Développeur Full-Stack";
const announcement = "En recherche d'une alternance à partir d'août 2025 pour continuer mon évolution et devenir Concepteur Développeur d'Application"
---

<section id="landing" class="flex flex-col items-center justify-center gap-32 h-[100vh]">
    <div class="flex w-9/10 justify-evenly items-center">
        <div class="flex flex-col justify-center items-center relative text-center py-0 px-4">
            <p class="text-[#faebd7] opacity-20 text-[3vw] hover:opacity-100 ease-in-out duration-300">Salut, je suis</p>
            <h1 class="text-[#faebd7] text-[5vw] m-0 pb-0.5 tracking-wider animation-transition">Florent Garcia</h1>
            <h2 class="flex flex-col items-center">
                <div class="">
                    {title.split('').map((letter)=>(
                        <span class="m">{letter}</span>
                    ))}
                </div>
            </h2>
            <span class="py-5 text-[#faebd7] text-3xl tracking-widest">JavaScript / TypeScript</span>
            <div class="rounded-[40px] p-5 mt-5 inset-shadow-[0_0_10px_rgb(250,235,215,0.2)] shadow-[3px_5px_15px_rgb(250,235,215,0.3)]">
                    <p class=" pb-3 text-[#faebd7] text-xl tracking-widest ">Besoin de réaliser un projet?</p>
                    <a id="contactLink" href="#contact" class="text-[rgb(250,235,215)] text-xl tracking-widest cursor-grab underline hover:text-[#41B883] hover:animate-pulse ease-in-out duration-300">Contactez moi</a>
            </div>
            
        </div>
        <div class="flex justify-center items-center">
            <Image src={lkd2}alt="" width={400} height={300} class="landing-img object-cover  rounded-full w-[400px] h-[400px]" loading={"eager"} />
        <!-- <img id="" class="landing-img object-cover  rounded-full w-[400px] h-[400px] " src="lkd2.webp" alt=""> -->
         </div>
    </div>
    <div class="">
       
        <p class="text-[#faebd7] text-xl tracking-widest w-6/10 text-center m-auto">{announcement.split('').map((letter)=>(
            <span class="lumiere">{letter}</span>
        ))}</p>
    </div>
</section>

<script>

    const lumiereEls= Array.from(document.querySelectorAll('.lumiere')) as HTMLElement[];
    lumiereEls.forEach((element,index)=>{
        element.style.animationDelay=`${index *15}ms`
    })


</script>

 
