---
import "../styles/global-style.css";
/* import "../components/Header/"; */
import "../components/Landing/landing.css";
import "../components/Skills/skills.css";
import "../components/Projects/projects.css";
import "../components/About/cv.css";
/* import "../components/Contact/'); */




---
<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Développeur Web et Web Mobile javascript junior, je présente ici mes projets avec Vuejs, Laravel et autres.">
				<!-- Ajouter un favicon -->

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Florent Garcia - Développeur Web JavaScript/TypeScript - Portoflio</title>
		<meta property="og:title" content="Florent Garcia - Développeur Web JavaScript/TypeScript - Portoflio">
		<meta property="og:description" content="Développeur Web et Web Mobile javascript junior, je présente ici mes projets avec Vuejs, Laravel et autres.">
				<!-- Ajouter un content -->

		<!-- <meta property="og:url"> -->
		<meta property="og:type" content="website">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Portfolio de Développement Web - Projets en React, Angular, et plus">
		<meta name="twitter:description" content="Développeur Web et Web Mobile javascript junior, je présente ici mes projets avec Vuejs, Laravel et autres.">
		<!-- Ajouter un content -->
		<!-- <meta name="twitter:image" > -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet" >
<!-- <link rel="preload" href="https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLDz8Z1xlFd2JQEk.woff2" as="font" type="font/woff2" crossorigin="anonymous" > 
<link rel="preload" href="https://fonts.gstatic.com/s/poppins/v22/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2" as="font" type="font/woff2" crossorigin="anonymous"> 
<link rel="preload" href="https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2" as="font" type="font/woff2" crossorigin="anonymous">  -->

</head>
	<body>
		<div class="h-full w-full">
			<slot />
		</div>
	</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/dompurify@2.4.3/dist/purify.min.js"></script>




